#!/usr/bin/make -f

confflags = \
	--disable-radeon \
	--disable-amdgpu \
	--disable-libkms \
	--disable-udev \
	--disable-vmwgfx \
	--disable-nouveau \
	--disable-intel \
	--disable-vc4 \
	--disable-exynos-experimental-api \
	--disable-omap-experimental-api \
	--disable-etnaviv-experimental-api \
	--disable-freedreno \
	--enable-tegra-experimental-api \
	$()

override_dh_autoreconf:
	dh_autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --enable-static=yes $(confflags)

override_dh_install:
	find debian/libdrm-tegra0 -name '*.a' -delete
	find debian/libdrm-tegra0 -name '*.la' -delete
	find debian/libdrm-tegra0 -name 'libdrm.*' -delete
	rm -rf debian/libdrm-tegra0/usr/lib/*/libdrm_tegra.so
	rm -rf debian/libdrm-tegra0/usr/lib/*/pkgconfig
	rm -rf debian/libdrm-tegra0/usr/include
	rm -rf debian/libdrm-tegra0/usr/share/man
	dh_install --fail-missing

override_dh_makeshlibs:
	dh_makeshlibs -plibdrm-tegra0 -V'libdrm-tegra0' -- -c4

%:
	dh $@ --with autoreconf
